@model ClinicaDental.Models.Entities.TratamientoPorTurno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TratamientoPorTurno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPaso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPaso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacionesTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacionesTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turno.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EjecucionTratamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EjecucionTratamiento.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
